/* Inserta tu CSS aqui */
.contenedor	{
	width: 800px;
	height: 400px;
	padding: 20px;
	background: #8CB27C;

}

.corner	{
	position: relative;
	height: 100%;
	border: 1px solid white;
}

.arco_izquierdo	{
	position: absolute;
	top: 110px;
	width: 90px;
	height: 180px;
	border: 1px solid white;
}

.arco_derecho	{
	position: absolute;
	border: 1px solid white;
	width: 90px;
	height: 180px;
	right: 0px;
	top: 110px;
}

.medio	{
	position: absolute;
	border-radius: 50%;
	border: 1px solid white;
	width: 180px;
	height: 180px;
	left: 310px;
	top: 100px;
}

.gol	{
	position: absolute;
	left: 80px;
	top: 120px;
}

.gol2	{
	position: absolute;
	left: 400px;
	top: 50px;
}

.gol3	{
	position: absolute;
	left: 680px;
	top: 260px;
}